1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
5. Read books.csv and insert its data into the book table.
6. Select and print the title column from the book table in alphabetical order.
7. From the book table, select and print all columns in the order of publication.
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.
10. Increment the count field of test and print it.

In [1]:
#question 1

test1=open('test.txt','w+')
test1.write('This is a test of the emergency text system')
test1.close()

In [2]:
#question 2

test1=open('test.txt','r')
print(test1.read())

This is a test of the emergency text system

In [3]:
test2=open('test.txt','r')
print(test2.read())

This is a test of the emergency text system

In [15]:
#question 3

import pandas as pd

#title,author,year
#The Weirdstone of Brisingamen,Alan Garner,1960
#Perdido Street Station,China Miéville,2000
#Thud!,Terry Pratchett,2005
#The Spellman Files,Lisa Lutz,2007
#Small Gods,Terry Pratchett,1992

title=["The Weirdstone of Brisingamen","Perdido Street Station","Thud!","The Spellman Files","Small Gods"]
author=["Alan Garner","China Miéville","Terry Pratchett","Lisa Lutz","Terry Pratchett"]
year=[1960,2000,2005,2007,1992]

dict={'title':title,'author':author,'year':year}

df=pd.DataFrame(dict)

df.to_csv('books.csv')
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [16]:
#question 4 and 5

import mysql.connector as connection
import pandas as pd
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mouli",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "Create database IF NOT EXISTS booksdb;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'booksdb',user="root", passwd="mouli", use_pure=True)

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS books (title VARCHAR(40), author VARCHAR(40), year INT(4))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    
    df=pd.read_csv('C:/Users/Mouli/Documents/ineuron/Assignments questions/python basic assignments/books.csv')
    
    for index,row in df.iterrows():
        cursor.execute("INSERT INTO booksdb.books (title,author,year) values(%s,%s,%s)",(row.title,row.author,row.year)) 


    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

True
Database Created!!
Table Created!!
Values inserted!!

In [18]:
#question 6

import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(host="localhost", database='booksdb', user="root", passwd="mouli", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "SELECT title FROM booksdb.books ORDER BY title;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

True
                            title
0          Perdido Street Station
1          Perdido Street Station
2          Perdido Street Station
3          Perdido Street Station
4                      Small Gods
5                      Small Gods
6                      Small Gods
7                      Small Gods
8              The Spellman Files
9              The Spellman Files
10             The Spellman Files
11             The Spellman Files
12  The Weirdstone of Brisingamen
13  The Weirdstone of Brisingamen
14  The Weirdstone of Brisingamen
15  The Weirdstone of Brisingamen
16                          Thud!
17                          Thud!
18                          Thud!
19                          Thud!

In [20]:
#question 7

import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(host="localhost", database='booksdb', user="root", passwd="mouli", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "SELECT * FROM booksdb.books ORDER BY year;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

True
                            title           author  year
0   The Weirdstone of Brisingamen      Alan Garner  1960
1   The Weirdstone of Brisingamen      Alan Garner  1960
2   The Weirdstone of Brisingamen      Alan Garner  1960
3   The Weirdstone of Brisingamen      Alan Garner  1960
4                      Small Gods  Terry Pratchett  1992
5                      Small Gods  Terry Pratchett  1992
6                      Small Gods  Terry Pratchett  1992
7                      Small Gods  Terry Pratchett  1992
8          Perdido Street Station   China Miéville  2000
9          Perdido Street Station   China Miéville  2000
10         Perdido Street Station   China Miéville  2000
11         Perdido Street Station   China Miéville  2000
12                          Thud!  Terry Pratchett  2005
13                          Thud!  Terry Pratchett  2005
14                          Thud!  Terry Pratchett  2005
15                          Thud!  Terry Pratchett  2005
16             The Spellman Files        Lisa Lutz  2007
17             The Spellman Files        Lisa Lutz  2007
18             The Spellman Files        Lisa Lutz  2007
19             The Spellman Files        Lisa Lutz  2007

In [1]:
#question 8
import sqlite3
from sqlalchemy import create_engine
engine=create_engine('sqlite:///booksdb.db')
conn=engine.connect()

In [ ]:
#question 9
import redis
conn = redis.Redis()
conn.hset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
#question 10
conn.hincrby('test', 'count', 3)
conn.hget('test', 'count')